
<ul class="flex h-full items-center">
    {% if user.is_authenticated %}
        <li class="nav-link">
            <a href="{% url 'users:switch-hosting' %}">
                {% if request.session.is_hosting %}
                    Stop hosting
                {% else %}
                    Start hosting
                {% endif %}
            </a>
        </li>
        <li class="nav-link"><a href="{{user.get_absolute_url}}">Profile</a></li>
        <li class="nav-link"><a href="{% url 'users:logout' %}">Log out</a></li>
    {% else %}
        <li class="nav-link "><a href="{% url 'users:login' %}">Log in</a></li>
        <li class="nav-link"><a href="{% url 'users:signup' %}">Sign up</a></li>
    {% endif %}

</ul>


