<form method="POST" class="w-full" enctype="multipart/form-data"> <!--action 생략 4가능 / enctype="multipart/form-data" 이 방식은 <form> 요소가 파일이나 이미지를 서버로 전송할 때 주로 사용함-->
    {% csrf_token %}
    {% if form.non_filed_errors %}
        {% for error in form.non_filed_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        {% include 'mixins/auth/form_input.html' with field=field %}
    {% endfor %}
    <button class="btn bg-red-500 text-white">{{cta}}</button>
</form>